body {
    margin: 0;
    padding: 0;
    width: 100%; /* full window width */
    height: 100%;
    text-align: center;
    background-color: aqua;
}
#socials {
    position: sticky;
    width: 100%; /* of body width */
    height: 30%;
    min-height: 40px;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#socials>div {
    display: inline-block;
    width: 32%; /* of wrapper width */
    min-height: 40px;
    margin: auto;
    text-align: center;
    background-color: rgb(24, 21, 21);
    text-align: center;
    padding-top: 10px;
    
}
#links {
    color: blue;
    font-size: 150%;
}

#bottom {
    padding-top: 1000px;
    position: sticky;
    color: aqua;
}
/* alternately */
/*
#wrapper>div {
    float: left;
    width: 31%; /* of wrapper width 
    margin: 0 1%;
    text-align: left;
}
*/